{% extends 'base.html' %}
{% block title %} Add-products {% endblock %}
{% block body %}
<div class="container my-3">
  <div class="row py-4 pb-0 pb-sm-4 align-items-center ">

    <div class="col-sm-4 col-lg-3 text-center text-sm-start">
      <div class="main-logo">
        <a href="{{url_for('home')}}">
          <img src="{{url_for('static', filename='images/logo.png')}}" alt="logo" class="img-fluid">
        </a>
      </div>
    </div>
{% include '_messages.html' %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <img src="data:{{ product_to_expand.mime_type }}; base64, {{ product_to_expand.image_file }}" alt="image here" width="500" height="550">
            </div>

            <div class="col-md-6">
                <h4>Product name: <u>{{product_to_expand.name}}</u> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; Category: {{product_to_expand.category.name}}</h4>
                <hr>
                <p>Product Price: {{product_to_expand.price}}</p>
                <b><i>{{product_to_expand.desc}}</i></b> <br> 
                <p style="color: rgb(224, 7, 156);">Tags : <i>{{product_to_expand.tags}}</i></p>
                 <hr>
               <h5>Rating: <span class="rating secondary-font">
                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                    5.0
                  </span></h5>

                  <div class="d-flex flex-wrap mt-3">
                    <a href="{{url_for('add_to_cart' , item_id = product_to_expand.id)}}" class="btn-cart me-3 px-4 pt-3 pb-3">
                      <h5 class="text-uppercase m-0">Add to Cart</h5>
                    </a>
                    
                    <div style="border: 1px solid rgb(212, 212, 212); padding: 5px;  ">

                      <span id="like-count-{{ product_to_expand.id }}"
                      >{{ product_to_expand.count_likes() }}</span> {% if current_user.is_anonymous %} liked {% endif %}
                      {% if current_user.is_authenticated %}
                      <button class="btn-cart px-4 pt-3" id="like-btn-{{ product_to_expand.id }}" type="button" class="like-btn"
                        style="border: none; background: none; cursor: pointer; margin-top: -5px;"
                        onclick="likePost({{ product_to_expand.id }})">
                        {% if current_user.id in product_to_expand.likes|map(attribute='user_id')|list
                        %}
                        <i class="fa-solid fa-thumbs-up fa-lg"></i>
                        {% else %}
                        <i class="fa-regular fa-thumbs-up fa-lg"></i>
                        {% endif %}
                        </a> 
                        
                      </button>
                      {% endif %}
                    </div>
                    
                  </div>
            </div>
          
         
           
           
        </div>
    </div>


    {% endblock body %}