{% extends 'base.html' %}

{% block title %} Invoice Details {% endblock %}

{% block body %}
<div class="container my-3">
    <div class="row py-4 pb-0 pb-sm-4 align-items-center ">

        <div class="col-sm-4 col-lg-3 text-center text-sm-start">
            <div class="main-logo">
                <a href="{{url_for('home')}}">
                    <img src="{{url_for('static', filename='images/logo.png')}}" alt="logo" class="img-fluid">
                </a>
            </div>
        </div>

        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <hr>
                    <h2>Invoice Details</h2>
                    <p>Invoice Number: {{ invoice_number }}</p>
                    <p>Customer Name: {{ user.username }}</p>
                    <p>Customer Email: {{ user.email }}</p>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>S.N.</th>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Price per item</th>
                                <th>Payment Status</th>
                                <th>Total Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ order.product.name }}</td>
                                <td>{{ order.quantity }}</td>
                                <td>{{ order.price / order.quantity }}</td>
                                <td>{{ order.payment_status }}</td>
                                <td>{{ order.price }}</td>
                            </tr>
                            {% endfor %}
                            <hr>
                            <tr>

                                <td colspan="5"><u><strong>Grand Tota</strong>l</u></td>
                                <td><u><strong>{{ orders | map(attribute='price') | sum }}</strong></u></td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="{{ url_for('generate_pdf', invoice_number=invoice_number) }}" class="btn btn-primary">Get
                        PDF</a> <br> <br>
                        {% if unpaid %}
                        <form id="payment-form" method="post" action="{{ url_for('initkhalti') }}">
                            <input type="hidden" name="invoice_number" value="{{ invoice_number }}">
                            <input type="hidden" name="amount" value="{{ orders | map(attribute='price') | sum }}">
                            <input type="hidden" name="return_url" value="{{ url_for('verify', _external=True) }}">
                            <button type="submit" id="payment-button" class="btn btn-outline-info">Pay With Khalti</button>
                        </form>   
                        {% endif %}   
                </div>
              
            </div>
        </div>
                 
    </div>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
$('#payment-button').on('click', function(e) {
e.preventDefault();
var formData = {
    invoice_number: $('input[name="invoice_number"]').val(),
    amount: $('input[name="amount"]').val(),
    return_url: $('input[name="return_url"]').val()
    
};

$.ajax({
    url: '/initkhalti',
    type: 'POST',
    data: formData,
    success: function(response) {
        if (response.payment_url) {
            window.location.href = response.payment_url;
        } else {
            alert('Failed to initiate payment. Please try again.');
        }
    },
    error: function() {
        alert('An error occurred. Please try again.');
        
    }
});
});
});
</script>

{% endblock %}