{% extends 'base.html' %}
{% block title %} Add-products {% endblock %}
{% block body %}
<div class="container my-3">
  <div class="row py-4 pb-0 pb-sm-4 align-items-center ">

    <div class="col-sm-4 col-lg-3 text-center text-sm-start">
      <div class="main-logo">
        <a href="{{url_for('admin_home')}}">
            <img src="{{url_for('static', filename='images/logo.png')}}" alt="logo" class="img-fluid">
        </a>
      </div>
    </div>

    <div class="container">
        <a href="{{url_for('admin_home')}}">
      <iconify-icon icon="ion:arrow-back-circle" width="50" height="50"  style="color: black ; margin-left: 20%; margin-top: 2px;"></iconify-icon>
    </div></a>


<!-- <section id="register" style="background-image: url('static/images/cat-bg.jpg'); background-repeat: no-repeat; background-size: cover; width: 100%; height: 100%; backdrop-filter: blur(10px);"> -->
<div class="container">
<!-- <section id="register" style="background: url('static/images/background-img.png') no-repeat;"> -->
    <div class="container ">
        <div class="offset-md-3 col-md-6 my-5 ">
         {% include '_messages.html' %}
          <h2 class="display-3 fw-normal text-center">Update Product:
          </h2>
          <form method="post" enctype="multipart/form-data" action="/update_products/{{product_to_update.id}}">
            <div class="mb-3">
                <label for="name">Name</label>
              <input type="text" class="form-control form-control-lg" name="name" value="{{product_to_update.name}}" 
                placeholder="Name of the product">
            </div>
            <div class="mb-3">
                <label for="price">Price</label>
                <input type="text" class="form-control form-control-lg" name="price" value="{{product_to_update.price}}"
                  placeholder="In Rupees">
              </div>
              <div class="mb-3">
                <label for="category">Category</label>
                <select name="category" id="category" class="form-control form-control-lg" required>
                    <option value="">Select a category</option>
                    {% for category in categories %}
                    <option value="{{ category.id }}" {% if category.id == product_to_update.category_id %}selected{% endif %}>{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
              <div class="mb-3">
                <label for="desc">Description</label>
                <textarea  class="form-control form-control-lg" name="desc" 
                  placeholder="Description of the product" cols="30" rows="5"> {{product_to_update.desc}}</textarea>
              </div>
              <div class="mb-3">
                <label for="price">Tags</label>
                <input type="text" class="form-control form-control-lg" name="tags" value="{{product_to_update.tags}}"
                placeholder="Enter your tags">
              </div>
              <div class="mb-3">
                <label for="price">Choose your image</label>
                <input type="file" class="form-control form-control-lg" name="img" id="email" 
                  placeholder="Enter Your Email Address">
              </div>
                

            <div class="d-grid gap-3">
              <button type="submit" class="btn btn-dark btn-lg rounded-1">Update</button>
            </div>
          </form>
        </div>
      </div>
    
  <!-- </section> -->
</div>
</div>
<!-- </section> -->
  {% endblock %}