<div class="col-md-4 col-lg-3 my-4">
  <div class="item cat">
    <div class="card position-relative">
      <a href="{{url_for('expand_product' , product_id = product.id )}}"><img
          src="data:{{ product.mime_type }}; base64, {{ product.image_file }}" alt="thumbnail here"
          class="img-fluid rounded-4" alt="image"></a>
      <div class="card-body p-0">
        <a href="{{url_for('expand_product' , product_id = product.id )}}">
          <h3 class="card-title pt-4 m-0">{{ product.name }}</h3>
        </a>
        <div class="card-text">
          <span id="rating-stars-{{ product.id }}">
            {% set rating = product.average_rating() %}
            {% for i in range(1, 6) %}
            <button type="button" class="star" style="border: none; background: none; cursor: pointer;" onclick="rateProduct({{ product.id }}, {{ i }})">
              {% if i <= rating %}
                <i class="fa fa-star text-primary"></i>
              {% elif i - 0.5 <= rating %}
                <i class="fa fa-star-half-alt text-primary"></i>
              {% else %}
                <i class="fa fa-star text-muted"></i>
              {% endif %}
            </button>
            {% endfor %}          
            <span id="rating-value-{{ product.id }}">{{ rating }}</span>
          </span> <div>
            {% for tag in product.tags.split(',') %}
            <span class="badge rounded-pill text-bg-info">{{ tag.strip() }}</span>
        {% endfor %}
          </div>
                   
          <h3 class="secondary-font text-primary">Rs.{{ product.price }}</h3>
          <div class="d-flex flex-wrap mt-3">
            <a href="{{url_for('add_to_cart' , item_id = product.id)}}" class="btn-cart me-3 px-4 pt-3 pb-3">
              <h5 class="text-uppercase m-0">Add to Cart</h5>
            </a>
            
            
            <div style="border: 1px solid rgb(212, 212, 212); padding: 5px;  ">

             <a href="{{url_for('liked_users' , id=product.id)}}"> <span id="like-count-{{ product.id }}"
              >{{ product.count_likes() }}</span> {% if current_user.is_anonymous %} liked {% endif %}</a>
              {% if current_user.is_authenticated %}
              <button class="btn-cart px-4 pt-3" id="like-btn-{{ product.id }}" type="button" class="like-btn"
                style="border: none; background: none; cursor: pointer; margin-top: -5px;"
                onclick="likePost({{ product.id }})">
                {% if current_user.id in product.likes|map(attribute='user_id')|list
                %}
                <i class="fa-solid fa-thumbs-up fa-lg"></i>
                {% else %}
                <i class="fa-regular fa-thumbs-up fa-lg"></i>
                {% endif %}
                </a> 
                
              </button>
              {% endif %}
            </div>

          
            <!-- <a href="#" class="btn-wishlist px-4 pt-3 ">
                <iconify-icon icon="fluent:heart-28-filled" class="fs-5"></iconify-icon> -->

          </div>


        </div>
      </div>
    </div>
  </div>
</div>

