
  <div class="col-md-4 col-lg-3 my-4">
    <div class="item cat">
      <div class="card position-relative">
        <a href="{{url_for('expand_product' , product_id = product.id )}}"><img src="data:{{ product.mime_type }}; base64, {{ product.image_file }}" alt="thumbnail here" class="img-fluid rounded-4" alt="image"></a>
        <div class="card-body p-0">
          <a href="{{url_for('expand_product' , product_id = product.id )}}">
            <h3 class="card-title pt-4 m-0">{{ product.name }}</h3>
          </a>
          <div class="card-text">
            <span class="rating secondary-font">
              <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
              <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
              <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
              <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
              <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
              5.0
            </span>
            <h3 class="secondary-font text-primary">Rs.{{ product.price }}</h3>
            <div class="d-flex flex-wrap mt-3">
              <a href="#" class="btn-cart me-3 px-4 pt-3 pb-3">
                <h5 class="text-uppercase m-0">Add to Cart</h5>
              </a>
              
                       {% if current_user.is_authenticated %}
              <div style="border: 1px solid rgb(212, 212, 212); padding: 5px;  ">
               
               
                <button class="btn-cart px-4 pt-3"
                  id="like-btn-{{ product.id }}"
                  type="button"
                  class="like-btn"
                  style="border: none; background: none; cursor: pointer; margin-top: -5px;" 
                  onclick="likePost({{ product.id }})"
                >
                  {% if current_user.id in product.likes|map(attribute='user_id')|list
                  %}
                  <i class="fa-solid fa-thumbs-up fa-lg"></i>
                  {% else %}
                  <i class="fa-regular fa-thumbs-up fa-lg"></i>
                  {% endif %}
              </a>
                {% endif %}
              </div>
            
              <!-- <a href="#" class="btn-wishlist px-4 pt-3 ">
                <iconify-icon icon="fluent:heart-28-filled" class="fs-5"></iconify-icon> -->
              </button>
            </div>

            
          </div>
        </div>
      </div>
    </div>
  </div>

