{% extends 'base.html' %}

{% block title %}Home {% endblock title %}


{% block body %}
{% include 'navbar.html' %}
<div class="container">
  <div class="row">
{% for product in all_products %}
{% include 'card.html' %}

{% endfor %}
</div>
</div>

{% if current_user.is_anonymous %}
<section id="register" style="background: url('static/images/background-img.png') no-repeat;">

    <div class="container ">

      <div class="row my-5 py-5">
        <div class="offset-md-3 col-md-6 my-5 ">
          {% include '_messages.html' %}
          <h2 class="display-3 fw-normal text-center">Register Now!
          </h2>
          <form method="post">
            <div class="mb-3">
              <input type="email" class="form-control form-control-lg" name="email" id="email"
                placeholder="Enter Your Email Address">
            </div>
            <div class="mb-3">
              <input type="password" class="form-control form-control-lg" name="password" id="password1"
                placeholder="Create Password">
            </div>
            <div class="mb-3">
              <input type="password" class="form-control form-control-lg" name="repassword" id="password2"
                placeholder="Repeat Password">
            </div>

            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-dark btn-lg rounded-1">Register it now</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endif %}

{% include 'footer.html' %}

{% endblock body %}


