{% extends 'base.html' %}

{% block title %}Home {% endblock title %}




{% block body %}
{% include 'navbar.html' %}


{% include 'card.html' %}


{% if current_user.is_anonymous %}
<section id="register" style="background: url('static/images/background-img.png') no-repeat;">

    <div class="container ">

      <div class="row my-5 py-5">
        <div class="offset-md-3 col-md-6 my-5 ">
          <h4 style="color: rgb(244, 33, 9); text-align: center;"> {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <p>{{ msg }}</p>
                {% endfor %}
            {% endif %}
            {% endwith %}</h4>
          <h2 class="display-3 fw-normal text-center">Register Now!
          </h2>
          <form method="post">
            <div class="mb-3">
              <input type="email" class="form-control form-control-lg" name="email" id="email"
                placeholder="Enter Your Email Address">
            </div>
            <div class="mb-3">
              <input type="password" class="form-control form-control-lg" name="password" id="password1"
                placeholder="Create Password">
            </div>
            <div class="mb-3">
              <input type="password" class="form-control form-control-lg" name="repassword" id="password2"
                placeholder="Repeat Password">
            </div>

            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-dark btn-lg rounded-1">Register it now</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endif %}

{% include 'footer.html' %}

{% endblock body %}


