{% extends 'base.html' %}
{% block title %} Admin {% endblock %}
{% block body %}


{% include 'admin/navbar.html' %}
{% include '_messages.html' %}


      <div class="container">
       <u> <h3>All Categories:</h3></u>
        <table class="table table-sm ">
            <thead>
                <th>S.N</th>
                <th>Category</th>
                <th>Edit</th>
                <th>Delete</th>

            </thead>
            <tbody>
                {% for category in all_categories %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{category.name}}</td>
                    <td><a  href="{{url_for('update_category' , id=category.id)}}" class="btn btn-outline-warning">Update</a></td>
                    <td><a  href="{{url_for('delete_category' , id=category.id)}}" class="btn btn-outline-danger">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>

      <!-- {% include 'footer.html' %} -->
{% endblock %}