{% extends 'base.html' %}
{% block title %} Admin {% endblock %}
{% block body %}

{% include 'admin/navbar.html' %}
{% include '_messages.html' %}

      <div class="container">
       <u> <h3>All Products:</h3></u>
        <table class="table table-sm ">
            <thead>
                <th>S.N</th>
                <th>Email</th>
                <th>Delete</th>
            </thead>
            <tbody>
                {% for user in all_users %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{user.email}}</td>
                    {% if user.role == 'customer' %}
                    <td><a  href="{{url_for('delete_user' , id=user.id)}}" class="btn btn-outline-danger">Delete</td>  
                      {% else %} 
                      <td><button type="button" class="btn btn-success" disabled>Admin</button></td>    
                      {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>

      <!-- {% include 'footer.html' %} -->
{% endblock %}