{% extends 'base.html' %}
{% block title %} Admin {% endblock %}
{% block body %}
<div class="container my-3">
    <div class="row py-4 pb-0 pb-sm-4 align-items-center ">
  
      <div class="col-sm-4 col-lg-3 text-center text-sm-start">
        <div class="main-logo">
          <a href="{{url_for('home')}}">
            <img src="static/images/logo.png" alt="logo" class="img-fluid">
          </a>
        </div>
      </div>
    </div>
</div>

{% include 'admin/navbar.html' %}


<br>

      <div class="container">
        <h3>All Products:</h3>
        <table class="table table-sm ">
            <thead>
                <th>S.N</th>
                <th>Email</th>
                <th>Edit</th>
                <th>Delete</th>
            </thead>
            <tbody>
                {% for user in all_users %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{user.email}}</td>

                    <td>Edit</td>
                    <td>Delete</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>

      {% include 'footer.html' %}
{% endblock %}