.progress-bar-custom-cancel {
    background-color: #ff0000; 
}

.progress-bar-custom-out {
    background-color: #bc73e3; 
}


.progress-bar-custom-accepted {
    background-color: #3f45f0; 
}


.progress-bar-custom-delivered {
    background-color: #09922e; 
}


.progress-bar-custom-pending {
    background-color: #e1ff20; 
}


.star {
    font-size: 1.5rem;
    color: lightgray;
    cursor: pointer;
}

.star.filled {
    color: gold;
}


