{% extends 'base.html' %}
{% block title %} Log In {% endblock %}
{% block body %}
<div class="container my-3">
  <div class="row py-4 pb-0 pb-sm-4 align-items-center ">

    <div class="col-sm-4 col-lg-3 text-center text-sm-start">
      <div class="main-logo">
        <a href="{{url_for('home')}}">
          <img src="{{url_for('static' , filename='images/logo.png')}}" alt="logo" class="img-fluid">
        </a>
      </div>
    </div>
 
    {% include '_messages.html' %}

    <br><br>
    <div class="container">
     <u> <h3>Liked Users:</h3></u>
      <table class="table table-sm ">
          <thead>
              <th>S.N</th>
              <th>User</th>

          </thead>
          <tbody>
              {% for user in liked_users %}
              <tr>
                  <td>{{loop.index}}</td>
                  <td>{{user}}</td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
    </div>

  




    {% endblock %}