{% extends 'base.html' %}
{% block title %} Log In {% endblock %}
{% block body %}
<div class="container my-3">
  <div class="row py-4 pb-0 pb-sm-4 align-items-center ">

    <div class="col-sm-4 col-lg-3 text-center text-sm-start">
      <div class="main-logo">
        <a href="{{url_for('home')}}">
          <img src="static/images/logo.png" alt="logo" class="img-fluid">
        </a>
      </div>
    </div>

<!-- <section id="register" style="background-image: url('static/images/cat-bg.jpg'); background-repeat: no-repeat; background-size: cover; width: 100%; height: 100%; backdrop-filter: blur(10px);"> -->
<div class="container">
<!-- <section id="register" style="background: url('static/images/background-img.png') no-repeat;"> -->
    <div class="container ">
      <div class="row my-5 py-5">
        <div class="offset-md-3 col-md-6 my-5 ">
         {% include '_messages.html' %}
          <h2 class="display-3 fw-normal text-center">Login
          </h2>
          <form method="post">
            <div class="mb-3">
              <input type="email" class="form-control form-control-lg" name="email" id="email"
                placeholder="Enter Your Email Address">
            </div>
            <div class="mb-3">
              <input type="password" class="form-control form-control-lg" name="password" id="password1"
                placeholder="Enter your Password">
            </div>
            <div>
            <a href="{{url_for('forgotten_password')}}">Forgotten Password?</a>
            </div>
            <div class="d-grid gap-3">
              <button type="submit" class="btn btn-dark btn-lg rounded-1">Log In</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  <!-- </section> -->
</div>
<!-- </section> -->
  {% endblock %}