{% extends 'base.html' %}

{% block title %}Purchased Products{% endblock %}

{% block body %}
<div class="container my-3">
<div class="row py-4 pb-0 pb-sm-4 align-items-center ">
<div class="col-sm-4 col-lg-3 text-center text-sm-start">
    <div class="main-logo">
      <a href="{{url_for('home')}}">
        <img src="static/images/logo.png" alt="logo" class="img-fluid">
      </a>
    </div>
  </div>

<div class="container mt-5">
    {% include '_messages.html' %}
    <h1 class="text-center">Purchased Products</h1>

    {% if orders %}
    <div class="row">
        {% for order in orders %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="data:{{ order.product.mime_type }}; base64, {{ order.product.image_file }}" 
                    class="img-fluid rounded-4" alt="image">
                <div class="card-body">
                    <h5 class="card-title">{{ order.product.name }}</h5>
                    <p class="card-text">Quantity: {{ order.quantity }}</p>
                    <p class="card-text">Price: Rs.{{ order.price }}</p>
                    <p class="card-text">Order Status: {{ order.status }}</p>
                </div>

                <!-- <p>{{ url_for('add_to_cart', item_id=order.product_link) }}</p> -->
                <form action="{{ url_for('add_to_cart', item_id=order.product_link) }}" method="post">
                    <button type="submit" class="btn btn-primary" style="width: 200px; margin-left: 20px">Buy Again</button>
                </form>

                
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p class="text-center">You have not purchased any products yet.</p>
    {% endif %}
</div>
{% endblock %}

